<%- include("../layouts/guestHeader.ejs") %>

   <!-- Page Header Start -->
   <div class="container-fluid bg-info mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 15vh;">
        <h1 class="font-weight-semi-bold text-uppercase ">Product Details &nbsp;<img style="margin-bottom: 2vh;" src="\user\img\1x\1x\outline_inventory_2_black_48dp.png"></h1>
        <div class="d-inline-flex">
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" >
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <!-- <img class="w-100 h-100" src="img/product-1.jpg" alt="Image"> -->
                        <a href="/banners/<%= product.image[0] %>" class="MagicZoom"><img src="/banners/<%= product.image[0] %>"></a>
                    </div>
                    <div class="carousel-item">
                        <!-- <img class="w-100 h-100" src="img/product-2.jpg" alt="Image"> -->
                        <a href="/banners/<%= product.image[1] %>" class="MagicZoom" data-options="zoomPosition: inner"><img src="/banners/<%= product.image[1] %>"></a>
                    </div>
                    <div class="carousel-item">
                        <!-- <img class="w-100 h-100" src="img/product-3.jpg" alt="Image"> -->
                        <a href="/banners/<%= product.image[2] %>" class="MagicZoom" data-options="zoomPosition: inner"><img src="/banners/<%= product.image[2] %>" ></a>

                    </div>
                    <div class="carousel-item">
                        <!-- <img class="w-100 h-100" src="img/product-4.jpg" alt="Image"> -->
                        <a href="/banners/<%= product.image[3] %>" class="MagicZoom " data-options="zoomPosition: inner"><img src="/banners/<%= product.image[3] %>" ></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold"><%= product.name %></h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">₹<%= product.price%></h3>
            <p class="mb-4"><%= product.description%></p>
            
            
            <div class="d-flex align-items-center mb-4 pt-2">
                
                <button class="btn btn-dark px-3"><a href="/addToCart?id=<%=product.id %>" style="color: white; font-weight: bold;" ><i class="fa fa-shopping-cart mr-1"></i>Add To Cart</i></a></button>
            </div>
           
        </div>
    </div>
    
</div>


<%- include("../layouts/userfooter.ejs") %>